.vscode/
npm-debug.*
.idea
*/.tmp/*
*/.gradle/*
local.properties
*.iml
*.log
*.bak
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
**/node_modules
*/node_modules

__generated__
**/__generated__
*/__generated__

.env
.env.local
.env.development.local
.env.test.local
.env.production.local


client-react-2

client-web/build
client-web/src/components
client-web/src/hooks
client-web/src/routes
client-web/src/schema
client-web/src/utils
client-web/src/var
client-web/src/theme

server-koa2/Config.ts
